<div class= "container">
  <div class="page-header">
    <h1>Editing a Task</h1>
  </div>

  <%=render partial: "form" %>

  <%= f.submit "Update Task" %>
  <% end %>

<%=link_to "Show", tasks_path %> |
<%=link_to @task.description %>
