<div class= "container">
    <div class="pull-right">
        <%=link_to "New Task", new_task_path, class: "btn btn-info" %>
    </div>
    <h1> Tasks </h1>

    <% @tasks.each do |task| %>
    <table class="table">
      <tr class="row">
        <td>
          <label><%= task.description %></label>
        </td>
        <td class="text-right"
          <label>
            <%=link_to "Edit", edit_task_path(task), class:"btn btn-info" %>
            <%=link_to "Destroy", task, class: "btn btn-danger", method: :delete %>
          </label>
        </td>
      </tr>
          <p>

          </p>
        </td>
    </table>
    <% end %>
</div>
