<div class= "container">
  <div class="page-header">
    <h1>Listing Tasks</h1>

    <% @tasks.each do |task| %>
    <div class="row">
      <div class="col-md-12"><%= task.description %></div>
      <div class="col-md-1"><%= task.name %></div>
    </div>
  </div>
</div>
<% end %>
