  <div class="page-header">
    <h1>Users <%=link_to "New User", new_user_path, class: "btn btn-info pull-right" %></h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="col-md-3">
              <%= link_to "#{user.full_name}", user_path(user) %>
            </td>
            <td class="col-md-1">
            <% if current_user == user || current_user.admin || current_user.shares_project_with(user)%>
              <%= mail_to user.email %>
              <% end %>
              </td>
              <td>
                <% if user == current_user || current_user.admin %>
                  <%= link_to "Edit", edit_user_path(user) %>
                  <% end %>
                <% end %>
            </td>
          </tr>
      </tbody>
    </table>
