<div class= "container">
  <div class="page-header">
    <h1>Edit Project</h1>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to @project.name, project_path(@project) %></li>
      <li><%= "Edit" %></li>
    </ol>

  </div>

  <%= render 'form' %>

</div>
