<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <div class="col-md-4"><%= image_tag("seat.jpg", class: "img-responsive") %></div>
  <p class="text-left"> We are dedicated to the makers, the creators, the risk-takers.</p>
  <p class="text-left"> We wake up in the middle of the night and furiously write down ideas about how to make your online life better.</p>
  <p class='text-left'> Human collaboration and communication is what drives us, and it infuses every feature of gCamp.</P>

  <div class="row">
    <div class="col-md-8"></div>
  </div>

  <hr></hr>
  </div>
